@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
	url('../fonts/ProximaNovaT-Thin.woff2') format('woff2'),
	url('../fonts/ProximaNovaT-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Thin Italic'), local('ProximaNova-ThinIt'),
	url('../fonts/ProximaNova-ThinIt.woff2') format('woff2'),
	url('../fonts/ProximaNova-ThinIt.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
	url('../fonts/ProximaNovaCond-Thin.woff2') format('woff2'),
	url('../fonts/ProximaNovaCond-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-stretch: condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Thin Italic'), local('ProximaNova-ThinIt'),
	url('../fonts/ProximaNovaCond-ThinIt.woff2') format('woff2'),
	url('../fonts/ProximaNovaCond-ThinIt.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-stretch: condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
	url('../fonts/ProximaNovaExCn-Thin.woff2') format('woff2'),
	url('../fonts/ProximaNovaExCn-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-stretch: extra-condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Thin Italic'), local('ProximaNova-ThinIt'),
	url('../fonts/ProximaNovaExCn-ThinIt.woff2') format('woff2'),
	url('../fonts/ProximaNovaExCn-ThinIt.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-stretch: extra-condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Light'), local('ProximaNova-Light'),
	url('../fonts/ProximaNova-Light.woff2') format('woff2'),
	url('../fonts/ProximaNova-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Light Italic'), local('ProximaNova-LightIt'),
	url('../fonts/ProximaNova-LightIt.woff2') format('woff2'),
	url('../fonts/ProximaNova-LightIt.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Light'), local('ProximaNova-Light'),
	url('../fonts/ProximaNovaCond-Light.woff2') format('woff2'),
	url('../fonts/ProximaNovaCond-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-stretch: condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Light Italic'), local('ProximaNova-LightIt'),
	url('../fonts/ProximaNovaCond-LightIt.woff2') format('woff2'),
	url('../fonts/ProximaNovaCond-LightIt.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-stretch: condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Light'), local('ProximaNova-Light'),
	url('../fonts/ProximaNovaExCn-Light.woff2') format('woff2'),
	url('../fonts/ProximaNovaExCn-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-stretch: extra-condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Light Italic'), local('ProximaNova-LightIt'),
	url('../fonts/ProximaNovaExCn-LightIt.woff2') format('woff2'),
	url('../fonts/ProximaNovaExCn-LightIt.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-stretch: extra-condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
	url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
	url('../fonts/ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Regular Italic'), local('ProximaNova-RegularIt'),
	url('../fonts/ProximaNova-RegularIt.woff2') format('woff2'),
	url('../fonts/ProximaNova-RegularIt.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
	url('../fonts/ProximaNovaCond-Regular.woff2') format('woff2'),
	url('../fonts/ProximaNovaCond-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-stretch: condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Regular Italic'), local('ProximaNova-RegularIt'),
	url('../fonts/ProximaNovaCond-RegularIt.woff2') format('woff2'),
	url('../fonts/ProximaNovaCond-RegularIt.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-stretch: condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
	url('../fonts/ProximaNovaExCn-Regular.woff2') format('woff2'),
	url('../fonts/ProximaNovaExCn-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-stretch: extra-condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Regular Italic'), local('ProximaNova-RegularIt'),
	url('../fonts/ProximaNovaExCn-RegularIt.woff2') format('woff2'),
	url('../fonts/ProximaNovaExCn-RegularIt.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-stretch: extra-condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
	url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
	url('../fonts/ProximaNova-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Semibold Italic'), local('ProximaNova-SemiboldIt'),
	url('../fonts/ProximaNova-SemiboldIt.woff2') format('woff2'),
	url('../fonts/ProximaNova-SemiboldIt.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
	url('../fonts/ProximaNovaCond-Semibold.woff2') format('woff2'),
	url('../fonts/ProximaNovaCond-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-stretch: condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Semibold Italic'), local('ProximaNova-SemiboldIt'),
	url('../fonts/ProximaNovaCond-SemiboldIt.woff2') format('woff2'),
	url('../fonts/ProximaNovaCond-SemiboldIt.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-stretch: condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
	url('../fonts/ProximaNovaExCn-Semibold.woff2') format('woff2'),
	url('../fonts/ProximaNovaExCn-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-stretch: extra-condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Semibold Italic'), local('ProximaNova-SemiboldIt'),
	url('../fonts/ProximaNovaExCn-SemiboldIt.woff2') format('woff2'),
	url('../fonts/ProximaNovaExCn-SemiboldIt.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-stretch: extra-condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
	url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
	url('../fonts/ProximaNova-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldIt'),
	url('../fonts/ProximaNova-BoldIt.woff2') format('woff2'),
	url('../fonts/ProximaNova-BoldIt.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
	url('../fonts/ProximaNovaCond-Bold.woff2') format('woff2'),
	url('../fonts/ProximaNovaCond-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-stretch: condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldIt'),
	url('../fonts/ProximaNovaCond-BoldIt.woff2') format('woff2'),
	url('../fonts/ProximaNovaCond-BoldIt.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-stretch: condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
	url('../fonts/ProximaNovaExCn-Bold.woff2') format('woff2'),
	url('../fonts/ProximaNovaExCn-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-stretch: extra-condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldIt'),
	url('../fonts/ProximaNovaExCn-BoldIt.woff2') format('woff2'),
	url('../fonts/ProximaNovaExCn-BoldIt.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-stretch: extra-condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Condensed Extrabold'), local('ProximaNovaCond-Extrabld'),
	url('../fonts/ProximaNova-Extrabld.woff2') format('woff2'),
	url('../fonts/ProximaNova-Extrabld.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Condensed Extrabold Italic'), local('ProximaNovaCond-ExtrabldIt'),
	url('../fonts/ProximaNova-ExtrabldIt.woff2') format('woff2'),
	url('../fonts/ProximaNova-ExtrabldIt.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Condensed Extrabold'), local('ProximaNovaCond-Extrabld'),
	url('../fonts/ProximaNovaCond-Extrabld.woff2') format('woff2'),
	url('../fonts/ProximaNovaCond-Extrabld.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-stretch: condensed;
	font-display: swap;
}


@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Condensed Extrabold Italic'), local('ProximaNovaCond-ExtrabldIt'),
	url('../fonts/ProximaNovaCond-ExtrabldIt.woff2') format('woff2'),
	url('../fonts/ProximaNovaCond-ExtrabldIt.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	font-stretch: condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Condensed Extrabold'), local('ProximaNovaCond-Extrabld'),
	url('../fonts/ProximaNovaExCn-Extrabld.woff2') format('woff2'),
	url('../fonts/ProximaNovaExCn-Extrabld.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-stretch: extra-condensed;
	font-display: swap;
}


@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Condensed Extrabold Italic'), local('ProximaNovaCond-ExtrabldIt'),
	url('../fonts/ProximaNovaExCn-ExtrabldIt.woff2') format('woff2'),
	url('../fonts/ProximaNovaExCn-ExtrabldIt.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	font-stretch: extra-condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Black'), local('ProximaNova-Black'),
	url('../fonts/ProximaNova-Black.woff2') format('woff2'),
	url('../fonts/ProximaNova-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Black Italic'), local('ProximaNova-BlackIt'),
	url('../fonts/ProximaNova-BlackIt.woff2') format('woff2'),
	url('../fonts/ProximaNova-BlackIt.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Black'), local('ProximaNova-Black'),
	url('../fonts/ProximaNovaCond-Black.woff2') format('woff2'),
	url('../fonts/ProximaNovaCond-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-stretch: condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Black Italic'), local('ProximaNova-BlackIt'),
	url('../fonts/ProximaNovaCond-BlackIt.woff2') format('woff2'),
	url('../fonts/ProximaNovaCond-BlackIt.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-stretch: condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Black'), local('ProximaNova-Black'),
	url('../fonts/ProximaNovaExCn-Black.woff2') format('woff2'),
	url('../fonts/ProximaNovaExCn-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-stretch: extra-condensed;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: local('Proxima Nova Black Italic'), local('ProximaNova-BlackIt'),
	url('../fonts/ProximaNovaExCn-BlackIt.woff2') format('woff2'),
	url('../fonts/ProximaNovaExCn-BlackIt.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-stretch: extra-condensed;
	font-display: swap;
}