$trans-01: all 0.1s ease 0s;
.menu {
	&__list {
		@include flex_c;
	}
	&__element {
		position: relative;
		&:not(:last-child)::after {
			display: block;
			content: "";
			width: 1px;
			height: 12px;
			background: #f1f1f1;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 100%;
		}
	}
	&__link {
		padding: 15px 27px;
		font-size: 16px;
		line-height: 40px;
		color: #000;
		transition: $trans-01;
	}
}
@media(min-width: 993px) {
	.menu {
		&__link {
			&:hover {
				margin-top: 5px;
				text-decoration: underline;
				-webkit-text-decoration-skip-ink: none;
				text-decoration-skip-ink: none;
				color: #ffc800;
			}
		}
	}
}
@media (max-width: 992px) {
	.menu {
		padding: 0;
		background: #010101;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 50;
		top: -100%;
		left: 0;
		overflow: auto;
		transition: all 0.3s ease 0s;
		&__list {
			flex-direction: column;
			li:not(:last-child) {
				margin: 0 0 40px 0;
			}
		}
		&__element {
			color: #fff;
			font-size: 20px;
			&:not(:last-child)::after {
				display: none;
			}
		}
		&__link {
			font-size: 30px;
			color: #ffc800;
		}
	}
	.menu.active {
		top: 0;
		left: 0;
		transition: all 0.3s ease 0s;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}