@mixin flex_c () {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex_s-b () {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin flex_end () {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@mixin flex_col_c () {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin flex_col_s-b () {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

@mixin flex_col_s-a () {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}